[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADGofTest"]
	path = ADGofTest
	url = https://github.com/cran/ADGofTest
[submodule "pxR"]
	path = pxR
	url = https://github.com/cjgb/pxr
